
#chart {
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #424242;
    border-radius: 5px;
  }

h2{
    color: #9CC9F5;
    margin-left: 15px;
    padding-top: 15px;

}



