.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chart{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.recent{
    display: flex;
    flex-direction: row;
}

.table{
    clear: both;
}

